#map-container{
  width: 80%;
  height: 100vh;
  left: 5%;
  position: absolute;
  border: 1px solid black;
}

.center {
  text-align: center;
}

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  width: 170px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.footer {
  position: relative;
  text-align: right;
  right: 30px;
}

.info-window {
  z-index: 97;
}

.marked-list {
  position: relative;
  border: 1px solid black;
  width: 20vw;
  height: 70vh;
  top: 5vh;
  left: 75vw;
  margin-left: 3px;
  background-color: white;
}

.outer-container {
  height: 100vh;
  padding-bottom: 20px;
}

.paw-print-marked {
  height: 30px;
  width: auto;
  padding: 10px;
}

.scroll {
  height: 60vh;
  overflow: auto;
  right: 20px;
  position: relative;
}

li {
  padding: 5px;
  list-style-type: none;
}

body {
  font-family: 'Lato', sans-serif;
}
