.paw-print-unmarked {
  opacity: 0.3;
  height: 30px;
  width: auto;
  padding: 10px;
}

.paw-print-marked {
  height: 30px;
  width: auto;
  padding: 10px;
}

li {
  padding: 5px;
}

.controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }
